html {
	height: 100%; width: 100%;
}
body {
	background: purple; height: 100%; width: 100%;
	@include animation( backgroundColor 300s linear infinite );
}
@include keyframes(backgroundColor) {
	0% {background: #d10606;}
	20% {background: #ffff00;}
	40% {background: #00ffff;}
	60% {background: #2466df;}
	80% {background: #6f24e0;}
	100% {background: #d10606;}
}
svg#bgtexture,
svg#bgtexture2 {display:none;}
.blast {
	display: inline-block;
	opacity: 0;
}

hr {
	background-color: $color__background-hr;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

@import "lists";

img {
	height: auto;
	max-width: 100%;
}

figure {
	margin: 0;
}

@import "tables";
@import "iconic";

footer.site-footer {
	background: rgba(0, 0, 0, 0.8);
	padding: 20px 0px;
	display: block;
	clear: both;
}