html {
	height: 100%; width: 100%;
}
body {
	background: purple; height: 100%; width: 100%;
	@include animation( backgroundColor 300s linear infinite );
}
@-webkit-keyframes backgroundColor {
	0% {background: #d10606;}
	20% {background: #ffff00;}
	40% {background: #00ffff;}
	60% {background: #2466df;}
	80% {background: #6f24e0;}
	100% {background: #d10606;}
}
@-moz-keyframes backgroundColor {
	0% {background: #d10606;}
	20% {background: #ffff00;}
	40% {background: #00ffff;}
	60% {background: #2466df;}
	80% {background: #6f24e0;}
	100% {background: #d10606;}
}
@keyframes backgroundColor {
	0% {background: #d10606;}
	20% {background: #ffff00;}
	40% {background: #00ffff;}
	60% {background: #2466df;}
	80% {background: #6f24e0;}
	100% {background: #d10606;}
}
svg#bgtexture {display:none;}
hr {
	background-color: $color__background-hr;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

@import "lists";

img {
	height: auto;
	max-width: 100%;
}

figure {
	margin: 0;
}

@import "tables";