a {
	color: $color__link;
	text-decoration: none;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
}
.button {
	@include button;
	padding: 0px 10px 3px 10px;
	margin: 0;
	vertical-align: baseline;
	line-height: 1.2em;
	font-size: 1em;
	font-weight: normal;
	.iconic.iconic-sm {
		height: 10px !important;
		width: 9px !important;
		margin: 0 0 0 5px;
		* {
			fill: none;
			stroke: $offwhite;
		}
	}
	&.full {
		display: block;
		width: 100%;
	}
}