#page.desktop {
	.navBG {
		display:block;
		width:100%;
		height: auto;
		overflow: hidden;
		nav.flexnav {
			display:block;
			height: auto;
			max-height: inherit;
			width: 100%;
			max-width: 100%;
			background: rgba(0, 0, 0, 0.3);
			right: 0px;
			left: 0px;
		}
	}
	#site-navigation.flexnav.one-page {
		display: block;
		top: 0px;
		left: 0px;
		z-index: 20000;
		width: 100%;
		li {
			background-color: transparent;

			a {
				color: $white;
				background: rgba(0, 0, 0, 0.2);
				border-left: 1px solid rgba(0, 0, 0, 0.3);
				&:hover {background: rgba(0, 0, 0, 0.5);}
			}
		}
	}
}
#page.phone,
#page.tablet {
	.menu-button.one-page {
		background: rgba(0, 0, 0, 0.4);
		color: $white;
		.touch-button {
			padding: 17px 0px 0px 0px;
		}
		.iconic * {
			fill: none;
			stroke: $white;
		}
		&.active {background: rgba(0, 0, 0, 0.7);}
	}
	.flexnav {
		li {
			a {
				color: $white;
				background: rgba(0, 0, 0, 0.7);
				&:active {background: rgba(0, 0, 0, 0.8);}
			}
		}
	}
}

.site-main .comment-navigation,
.site-main .paging-navigation,
.site-main .post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.paging-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.paging-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}
