#page {
	min-height: 100%;
}
.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
.bcg {
	background-repeat: no-repeat;
}
.section.with-bg {
	height: 500px;
}

//homepage

.home-intro {margin-top: 5em;}

#skrollr-body {
	height: 2000px; position: relative; z-index: -1;
	svg {width:356px; height:202px; position: fixed; bottom: 2%; right: 5%;}
	path {stroke-dasharray:1000; fill:none; stroke-width:2; stroke:rgba(0, 0, 0, 0.6);}
}